OPENAI_API_KEY=
PORT=3001
OPENAI_CHAT_MODEL=gpt-5-mini
OPENAI_TRANSCRIPTION_MODEL=gpt-4o-transcribe
TTS_PROVIDER=abair
ABAIR_VOICE=ga_UL_anb_piper
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=coral
